@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f2;
  font-family: var(--font-quickSand), var(--open-sans), var(--roboto),
    "sans-serif";
}

.global-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.global-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.global-scrollbar::-webkit-scrollbar-thumb {
  background: #516559;
}
