@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: var(--quick-sand), var(--open-sans), var(--roboto), "sans-serif";
}
