@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f2;
  font-family: var(--font-quickSand), var(--open-sans), var(--roboto),
    "sans-serif";
}

.global-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.global-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.global-scrollbar::-webkit-scrollbar-thumb {
  background: #516559;
}

/* globals.css or a similar global stylesheet */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
